In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'RI'

In [4]:
file = 'rhode_island2018.xls'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

47

Read in state level data

In [8]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file, sheet_name='districts')

In [9]:
state_grads.head()

,distcode,distname,nclbCAT,cohortN,cGradrate,cDroprate,cGEDrate,cRetrate
0,1,Barrington,,294,96.938776,0.680272,0,2.380952
1,1,Barrington,AM7,1,*,*,*,*
2,1,Barrington,AS7,6,*,*,*,*
3,1,Barrington,BL7,3,*,*,*,*
4,1,Barrington,HI7,6,*,*,*,*

Filter results.

In [10]:
state_grads = state_grads[(state_grads['nclbCAT'] == ' ')]

Select and rename columns.

In [11]:
state_grads = state_grads[['distname', 
                           'cohortN', 
                           'cGradrate']]

In [12]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [13]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 893
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    47 non-null     object
 1   Total            47 non-null     int64
 2   Graduation Rate  47 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.5+ KB

Convert data types.

In [14]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('\*', '')

In [15]:
state_grads['District Name'] = state_grads['District Name'].astype(str)
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100.

Check for matches and non-matches in the two lists.

In [16]:
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [17]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('SCH DIST', 'SCHOOL DISTRICT')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CS', ' CHARTER SCHOOL')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CO ', ' COUNTY ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' BORO', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' CITY', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('TWP', 'TOWNSHIP')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sREG(\s|$)', ' REGIONAL ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWN$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sBORO$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sPUBLIC$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace('H.S DIST.', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^N\s', 'NORTH ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'^W\s', 'WEST ')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace("â€™", "'")
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(' REGIONAL', '')

# state_grads['District Name'] = state_grads['District Name'].astype(str).str.strip()

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' BOARD OF EDUCATION', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' VOCATIONAL TECHNICAL', ' VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC SCHOOLS', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PUBLIC', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' SCHOOL DISTRICT', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sSCHOOL$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWNSHIP$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sTOWN$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBOROUGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sBORO$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sDISTRICT$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL AND TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('VOCATIONAL-TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('TECHNICAL', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('INSTITUTE OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace('SCHOOLS OF TECHNOLOGY', 'VOCATIONAL')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(r'\sHIGH$', '')
# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' REGIONAL', '')

# state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.strip()

In [18]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
len(matches)

46

In [19]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['Blackstone Valley Prep, A RI Mayoral Academy']

In [20]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['Blackstone Valley Prep  A RI Mayoral Academy']

Make any additional matches I can find.

In [21]:
state_grads_rename = {
    'Capital Area School for the Arts Charter' : 'Capital Area School for the Arts Charter School',
    'Center for Student Learning CS at Pennsb' : 'Center for Student Learning CS at Pennsbury',
    'Central PA Digital Learning Foundation C' : 'Central PA Digital Learning Foundation CS',
    'Charter High School for Architecture and' : 'Charter High School for Architecture and Design',
    'Connellsville Area Career & Technical Ce' : 'Connellsville Area Career & Technical Center',
    'Eastern University Academy Charter Schoo' : 'Eastern University Academy Charter School',
    'First Philadelphia Preparatory Charter S' : 'First Philadelphia Preparatory Charter School',
    'Hill House Passport Academy Charter Scho' : 'Hill House Passport Academy Charter School',
    'Lehigh Valley Charter High School for th' : 'Lehigh Valley Charter High School for the Arts',
    'Lincoln Leadership Academy Charter Schoo' : 'Lincoln Leadership Academy Charter School',
    'Preparatory CS of Mathematics Science Te' : 'Preparatory CS of Mathematics Science Tech and Careers'
}

In [22]:
state_grads = state_grads.replace(state_grads_rename)

Merge federal and state data, keeping only matches between the two.

In [23]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [24]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)