In [1]:
import pandas as pd
import numpy as np

In [2]:
abbr = 'ID'

Read in federal level data

In [3]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [4]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [5]:
len(state_fiscal)

136

In [6]:
state_fiscal.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
3327,1600001,13500930100000,16,16017,N,41760,WEST BONNER COUNTY DISTRICT,Idaho,ID,03,...,R,R,R,R,M,M,M,M,M,M
3328,1600002,13500930200000,16,16017,N,41760,LAKE PEND OREILLE SCHOOL DISTRICT,Idaho,ID,03,...,R,R,R,R,M,M,M,M,M,M
3329,1600003,N,16,16027,147,14260,VICTORY CHARTER SCHOOL INC.,Idaho,ID,03,...,R,R,R,R,M,M,M,M,M,M
3330,1600004,N,16,16001,147,14260,IDAHO VIRTUAL ACADEMY INC.,Idaho,ID,03,...,R,R,R,R,M,M,M,M,M,M
3331,1600005,N,16,16039,147,34300,IDAHO VIRTUAL HIGH SCHOOL INC.,Idaho,ID,03,...,R,R,R,R,M,M,M,M,M,M

Read in state level data

In [7]:
state_grads = pd.read_excel('../../data/state_data_raw/idaho2018.xlsx', sheet_name='2018 District 4Year CohortGradR')

In [8]:
state_grads

,District- level Four-year Cohort Grad Rate 2018,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,This sheet contains 1 data table.,NaN,NaN,NaN,NaN,NaN
1,DistrictId,DistrictName,Population,Rate,Graduates,Cohort
2,1,BOISE INDEPENDENT DISTRICT,All Students,81.0%,1688,2085
3,1,BOISE INDEPENDENT DISTRICT,American Indian or Alaskan Native,nSize,NaN,NaN
4,1,BOISE INDEPENDENT DISTRICT,Not American Indian or Alaskan Native,>80%,NaN,NaN
...,...,...,...,...,...,...
4183,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Students of Military Families,nSize,NaN,NaN
4184,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Students of Non-Military Families,<34%,NaN,NaN
4185,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Male,25.0%,8,32
4186,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Female,32.0%,8,25
4187,End of Worksheet,NaN,NaN,NaN,NaN,NaN

Reset columns

In [9]:
state_grads.columns = state_grads.loc[1]
state_grads = state_grads.loc[2:]

In [10]:
state_grads

1,DistrictId,DistrictName,Population,Rate,Graduates,Cohort
2,1,BOISE INDEPENDENT DISTRICT,All Students,81.0%,1688,2085
3,1,BOISE INDEPENDENT DISTRICT,American Indian or Alaskan Native,nSize,NaN,NaN
4,1,BOISE INDEPENDENT DISTRICT,Not American Indian or Alaskan Native,>80%,NaN,NaN
5,1,BOISE INDEPENDENT DISTRICT,Asian,83.0%,78,94
6,1,BOISE INDEPENDENT DISTRICT,Not Asian,80.9%,1610,1991
...,...,...,...,...,...,...
4183,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Students of Military Families,nSize,NaN,NaN
4184,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Students of Non-Military Families,<34%,NaN,NaN
4185,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Male,25.0%,8,32
4186,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),Female,32.0%,8,25
4187,End of Worksheet,NaN,NaN,NaN,NaN,NaN

Drop and rename columns.

In [11]:
state_grads = state_grads[(state_grads['Population'] == 'All Students')]

In [12]:
state_grads

1,DistrictId,DistrictName,Population,Rate,Graduates,Cohort
2,1,BOISE INDEPENDENT DISTRICT,All Students,81.0%,1688,2085
33,2,JOINT SCHOOL DISTRICT NO. 2,All Students,87.3%,2511,2876
64,3,KUNA JOINT DISTRICT,All Students,85.4%,350,410
95,11,MEADOWS VALLEY DISTRICT,All Students,90.9%,10,11
126,13,COUNCIL DISTRICT,All Students,93.8%,15,16
...,...,...,...,...,...,...
4032,490,IDAHO DISTANCE EDUCATION ACADEMY DISTRICT,All Students,89.2%,33,37
4063,491,COEUR D'ALENE CHARTER ACADEMY DISTRICT,All Students,96.8%,61,63
4094,493,NORTH STAR CHARTER DISTRICT,All Students,94.7%,18,19
4125,497,"PATHWAYS IN EDUCATION - NAMPA, INC.",All Students,4.3%,3,70
4156,555,CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA),All Students,28.1%,16,57

Select and rename columns.

In [13]:
state_grads = state_grads[['DistrictName', 'Cohort', 'Rate']]

In [14]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [15]:
state_grads

                                    District Name Total Graduation Rate
2                      BOISE INDEPENDENT DISTRICT  2085           81.0%
33                    JOINT SCHOOL DISTRICT NO. 2  2876           87.3%
64                            KUNA JOINT DISTRICT   410           85.4%
95                        MEADOWS VALLEY DISTRICT    11           90.9%
126                              COUNCIL DISTRICT    16           93.8%
...                                           ...   ...             ...
4032    IDAHO DISTANCE EDUCATION ACADEMY DISTRICT    37           89.2%
4063       COEUR D'ALENE CHARTER ACADEMY DISTRICT    63           96.8%
4094                  NORTH STAR CHARTER DISTRICT    19           94.7%
4125          PATHWAYS IN EDUCATION - NAMPA, INC.    70            4.3%
4156  CANYON-OWYHEE SCHOOL SERVICE AGENCY (COSSA)    57           28.1%

[135 rows x 3 columns]

In [16]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 2 to 4156
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    135 non-null    object
 1   Total            135 non-null    object
 2   Graduation Rate  135 non-null    object
dtypes: object(3)
memory usage: 4.2+ KB

Convert data types.

In [17]:
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('%', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Check for matches and non-matches in the two lists

In [19]:
Matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
Matches.sort()
len(Matches)

103

In [20]:
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' INC.', '')
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' SCHOOL', '')
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' DISTRICT', '')
state_fiscal['NAME'] = state_fiscal['NAME'].str.replace(' CHARTER', '')

state_grads['District Name'] = state_grads['District Name'].str.replace(' SCHOOL', '')
state_grads['District Name'] = state_grads['District Name'].str.replace(' DISTRICT', '')
state_grads['District Name'] = state_grads['District Name'].str.replace(' CHARTER', '')

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['BOISE INDEPENDENT',
 'COMPASS',
 'EMMETT INDEPENDENT DIST',
 'FORREST M. BIRD',
 'GARDEN VALLEY',
 'IDAHO COLLEGE & CAREER READINESS ACADEMY',
 'IDAHO CONNECTS ONLINE',
 'INSPIRE VIRTUAL',
 'JEFFERSON COUNTY JT',
 'KOOTENAI BRIDGE ACADEMY ',
 'MCCALL-DONNELLY JT.',
 'PATHWAYS IN EDUCATION - NAMPA, INC.',
 'SAGE INTERNATIONAL OF BOISE',
 'SALMON RIVER JOINT DIST',
 'TAYLORS CROSSING',
 'VISION',
 'WHITEPINE JT',
 'iSUCCEED VIRTUAL HIGH']

In [22]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['COMPASS PUBLIC',
 'EMMETT INDEPENDENT',
 'IDAHO BUREAU OF EDUCATIONAL SERVICES FOR THE DEAF AND THE BL',
 'IDAHO COLLEGE AND CAREER READINESS ACADEMY',
 'IDAHO DEPARTMENT OF CORRECTIONS',
 'IDAHO DEPARTMENT OF JUVENILE CORRECTIONS',
 'IDAHO VIRTUAL EDUCATION PARTNERS',
 'INSPIRE ACADEMICS',
 'ISUCCEED VIRTUAL HIGH',
 'JEFFERSON COUNTY JOINT',
 'KTEC - Kootenai Tech Ed Campus',
 'MCCALL-DONNELLY JOINT',
 'PATHWAYS IN EDUCATION - NAMPA',
 'SALMON RIVER JOINT',
 'SANDPOINT',
 "TAYLOR'S CROSSING PUBLIC",
 'THE KOOTENAI BRIDGE ACADEMY',
 'THE SAGE INTERNATIONAL OF BOISE A PUBLIC SCH',
 'WHITEPINE JOINT']

Replace the names I can find matches for.

In [23]:
state_grads_rename = {
    'COMPASS PUBLIC' : 'COMPASS',
    'EMMETT INDEPENDENT' : 'EMMETT INDEPENDENT DIST',
    #'IDAHO BUREAU OF EDUCATIONAL SERVICES FOR THE DEAF AND THE BL',
    'IDAHO COLLEGE AND CAREER READINESS ACADEMY' : 'IDAHO COLLEGE & CAREER READINESS ACADEMY',
    #'IDAHO DEPARTMENT OF CORRECTIONS',
    #'IDAHO DEPARTMENT OF JUVENILE CORRECTIONS',
    #'IDAHO VIRTUAL EDUCATION PARTNERS',
    'INSPIRE ACADEMICS' : 'INSPIRE VIRTUAL',
    'ISUCCEED VIRTUAL HIGH' : 'iSUCCEED VIRTUAL HIGH',
    'JEFFERSON COUNTY JOINT' : 'JEFFERSON COUNTY JT',
    #'KTEC - Kootenai Tech Ed Campus' : ,
    'MCCALL-DONNELLY JOINT' : 'MCCALL-DONNELLY JT.',
    'PATHWAYS IN EDUCATION - NAMPA' : 'PATHWAYS IN EDUCATION - NAMPA,',
    'SALMON RIVER JOINT' : 'SALMON RIVER JOINT DIST',
    #'SANDPOINT',
    "TAYLOR'S CROSSING PUBLIC" : 'TAYLORS CROSSING',
    'THE KOOTENAI BRIDGE ACADEMY' : 'KOOTENAI BRIDGE ACADEMY ',
    'THE SAGE INTERNATIONAL OF BOISE A PUBLIC SCH' : 'SAGE INTERNATIONAL OF BOISE',
    'WHITEPINE JOINT' : 'WHITEPINE JT'
}

In [24]:
state_fiscal = state_fiscal.replace(state_grads_rename)

Merge federal and state data, keeping only matches between the two.

In [25]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [26]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)