In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
abbr = 'VA'

In [4]:
file = 'virginia2020.xlsx'

Read in federal level data

In [5]:
fiscal = pd.read_sas('../../data/fiscal2018', format = 'sas7bdat', encoding='iso-8859-1')

Generate list of districts in the state in the federal data

In [6]:
state_fiscal = fiscal[(fiscal['STABBR'] == abbr) & (fiscal['GSHI'] == '12')]

In [7]:
len(state_fiscal)

148

In [13]:
state_fiscal

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
17590,5100038,N,51,51710,545,47260,KINGS DAUGHTERS,Virginia,VA,N,...,N,N,N,N,N,N,N,N,N,N
17591,5100040,N,51,51760,N,40060,MEDICAL COLLEGE OF VA,Virginia,VA,N,...,N,N,N,N,N,N,N,N,N,N
17592,5100041,N,51,51003,N,16820,UNIVERSITY OF VA,Virginia,VA,N,...,N,N,N,N,N,N,N,N,N,N
17594,5100045,N,51,51053,N,40060,CENTRAL ST HOSP,Virginia,VA,N,...,N,N,N,N,N,N,N,N,N,N
17595,5100046,N,51,51095,545,47260,EASTERN ST HOSP,Virginia,VA,N,...,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17782,5104020,47104804830100,51,51830,545,47260,WILLIAMSBURG-JAMES CITY PBLC SCHS,Virginia,VA,03,...,R,M,M,M,R,R,R,M,M,M
17783,5104050,47213500130100,51,51840,548,49020,WINCHESTER CITY PBLC SCHS,Virginia,VA,03,...,R,M,M,M,R,R,R,M,M,M
17784,5104080,47109809830100,51,51195,N,13720,WISE CO PBLC SCHS,Virginia,VA,03,...,M,M,M,M,R,R,R,M,M,M
17785,5104110,47109909930100,51,51197,N,N,WYTHE CO PBLC SCHS,Virginia,VA,03,...,M,M,M,M,R,R,R,M,M,M
17786,5104150,47110010030100,51,51199,545,47260,YORK CO PBLC SCHS,Virginia,VA,03,...,R,M,M,M,R,R,R,M,M,M

Read in state level data

In [9]:
state_grads = pd.read_excel('../../data/state_data_raw/' + file)

In [10]:
state_grads.head()

,"State-Level Cohort Report, Four Year Rate",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Class of 2020 (First-time 9th Grade Cohort in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Generated on Thu Jan 28 16:16:21 EDT 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Notes on column headings and data:\n\n< indica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Division Number,Division,Subgroup,Cohort,Advanced Studies Diploma,Standard Diploma,Modified Standard Diploma,Special Diploma,General Achievement Diploma,Virginia \nOn-Time \nGraduation \nRate\n,GED,Certificate of Completio n,Cohort Completio n Rate,Total Completers,Still \nEnrolled,Dropouts,Dropout Rate,Long Term Absence,NaN
4,001,Accomack County,All Students,394,176,166,0,<,0,89.1,<,<,90.9,358,<,28,7.1,0,NaN

Reset columns.

In [11]:
state_grads.columns = state_grads.loc[3]
state_grads = state_grads.loc[4:]

In [12]:
state_grads.head()

3,Division Number,Division,Subgroup,Cohort,Advanced Studies Diploma,Standard Diploma,Modified Standard Diploma,Special Diploma,General Achievement Diploma,Virginia \nOn-Time \nGraduation \nRate\n,GED,Certificate of Completio n,Cohort Completio n Rate,Total Completers,Still \nEnrolled,Dropouts,Dropout Rate,Long Term Absence,NaN
4,001,Accomack County,All Students,394,176,166,0,<,0,89.1,<,<,90.9,358,<,28,7.1,0,NaN
5,001,Accomack County,Female,183,91,78,0,<,0,94,0,<,94.5,173,<,<,4.4,0,NaN
6,001,Accomack County,Male,211,85,88,0,<,0,84.8,<,<,87.7,185,<,20,9.5,0,NaN
7,001,Accomack County,American Indian,<,<,0,0,0,0,<,0,0,<,<,0,0,<,0,NaN
8,001,Accomack County,Asian,<,<,<,0,0,0,<,0,<,<,<,0,0,<,0,NaN

Filter results.

In [14]:
state_grads = state_grads[(state_grads['Subgroup'] == 'All Students')]

Select and rename columns.

In [16]:
state_grads = state_grads[['Division', 
                           'Cohort',
                           'Virginia \nOn-Time \nGraduation \nRate\n']]

In [17]:
state_grads.columns = ['District Name', 'Total', 'Graduation Rate']

In [18]:
state_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 4 to 2049
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District Name    132 non-null    object
 1   Total            132 non-null    object
 2   Graduation Rate  132 non-null    object
dtypes: object(3)
memory usage: 4.1+ KB

Convert data types.

In [21]:
state_grads['Total'] = state_grads['Total'].astype(str).str.replace('<', '')
state_grads['Graduation Rate'] = state_grads['Graduation Rate'].astype(str).str.replace('<', '')

In [23]:
state_grads['Total'] = pd.to_numeric(state_grads['Total'])
state_grads['Graduation Rate'] = pd.to_numeric(state_grads['Graduation Rate']) / 100

Check for matches and non-matches in the two lists.

In [28]:
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.upper().str.strip()
state_grads['District Name'] = state_grads['District Name'].astype(str).str.upper().str.strip()

In [37]:
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSu$', '')
# state_grads['District Name'] = state_grads['District Name'].astype(str).str.replace(r'\sSd$', '')

state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CO PBLC SCHS', ' COUNTY')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CITY PBLC SCHS', ' CITY')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' CTY PBLC SCHS', ' CITY')
state_fiscal['NAME'] = state_fiscal['NAME'].astype(str).str.replace(' PBLC SCHS', ' CITY')

In [38]:
matches = [name for name in list(state_grads['District Name']) if name in list(state_fiscal['NAME'])]
matches.sort()
matches

['ACCOMACK COUNTY',
 'ALBEMARLE COUNTY',
 'ALEXANDRIA CITY',
 'ALLEGHANY COUNTY',
 'AMELIA COUNTY',
 'AMHERST COUNTY',
 'APPOMATTOX COUNTY',
 'ARLINGTON COUNTY',
 'AUGUSTA COUNTY',
 'BATH COUNTY',
 'BEDFORD COUNTY',
 'BLAND COUNTY',
 'BOTETOURT COUNTY',
 'BRISTOL CITY',
 'BRUNSWICK COUNTY',
 'BUCHANAN COUNTY',
 'BUCKINGHAM COUNTY',
 'BUENA VISTA CITY',
 'CAMPBELL COUNTY',
 'CAROLINE COUNTY',
 'CARROLL COUNTY',
 'CHARLES CITY COUNTY',
 'CHARLOTTE COUNTY',
 'CHARLOTTESVILLE CITY',
 'CHESAPEAKE CITY',
 'CHESTERFIELD COUNTY',
 'CLARKE COUNTY',
 'COLONIAL HEIGHTS CITY',
 'COVINGTON CITY',
 'CRAIG COUNTY',
 'CULPEPER COUNTY',
 'CUMBERLAND COUNTY',
 'DANVILLE CITY',
 'DICKENSON COUNTY',
 'DINWIDDIE COUNTY',
 'ESSEX COUNTY',
 'FAIRFAX COUNTY',
 'FALLS CHURCH CITY',
 'FAUQUIER COUNTY',
 'FLOYD COUNTY',
 'FLUVANNA COUNTY',
 'FRANKLIN CITY',
 'FRANKLIN COUNTY',
 'FREDERICK COUNTY',
 'FREDERICKSBURG CITY',
 'GALAX CITY',
 'GILES COUNTY',
 'GLOUCESTER COUNTY',
 'GOOCHLAND COUNTY',
 'GRAYSON COUNTY',
 'GREENE COUNTY',
 'GREENSVILLE COUNTY',
 'HALIFAX COUNTY',
 'HAMPTON CITY',
 'HANOVER COUNTY',
 'HARRISONBURG CITY',
 'HENRICO COUNTY',
 'HENRY COUNTY',
 'HIGHLAND COUNTY',
 'HOPEWELL CITY',
 'ISLE OF WIGHT COUNTY',
 'KING AND QUEEN COUNTY',
 'KING WILLIAM COUNTY',
 'LANCASTER COUNTY',
 'LEE COUNTY',
 'LOUDOUN COUNTY',
 'LOUISA COUNTY',
 'LUNENBURG COUNTY',
 'LYNCHBURG CITY',
 'MADISON COUNTY',
 'MANASSAS CITY',
 'MANASSAS PARK CITY',
 'MARTINSVILLE CITY',
 'MATHEWS COUNTY',
 'MECKLENBURG COUNTY',
 'MIDDLESEX COUNTY',
 'MONTGOMERY COUNTY',
 'NELSON COUNTY',
 'NEW KENT COUNTY',
 'NEWPORT NEWS CITY',
 'NORFOLK CITY',
 'NORTHAMPTON COUNTY',
 'NORTHUMBERLAND COUNTY',
 'NORTON CITY',
 'NOTTOWAY COUNTY',
 'ORANGE COUNTY',
 'PAGE COUNTY',
 'PATRICK COUNTY',
 'PETERSBURG CITY',
 'PITTSYLVANIA COUNTY',
 'POQUOSON CITY',
 'PORTSMOUTH CITY',
 'POWHATAN COUNTY',
 'PRINCE EDWARD COUNTY',
 'PRINCE GEORGE COUNTY',
 'PRINCE WILLIAM COUNTY',
 'PULASKI COUNTY',
 'RADFORD CITY',
 'RAPPAHANNOCK COUNTY',
 'RICHMOND CITY',
 'RICHMOND COUNTY',
 'ROANOKE CITY',
 'ROANOKE COUNTY',
 'ROCKBRIDGE COUNTY',
 'ROCKINGHAM COUNTY',
 'RUSSELL COUNTY',
 'SALEM CITY',
 'SCOTT COUNTY',
 'SHENANDOAH COUNTY',
 'SMYTH COUNTY',
 'SOUTHAMPTON COUNTY',
 'SPOTSYLVANIA COUNTY',
 'STAFFORD COUNTY',
 'STAUNTON CITY',
 'SUFFOLK CITY',
 'SURRY COUNTY',
 'SUSSEX COUNTY',
 'TAZEWELL COUNTY',
 'WARREN COUNTY',
 'WASHINGTON COUNTY',
 'WAYNESBORO CITY',
 'WESTMORELAND COUNTY',
 'WINCHESTER CITY',
 'WISE COUNTY',
 'WYTHE COUNTY',
 'YORK COUNTY']

In [39]:
A = [name for name in list(state_grads['District Name']) if name not in list(state_fiscal['NAME'])]
A.sort()
A

['COLONIAL BEACH',
 'KING GEORGE COUNTY',
 'LEXINGTON CITY',
 'VIRGINIA BEACH CITY',
 'WEST POINT',
 'WILLIAMSBURG-JAMES CITY COUNTY']

In [40]:
B = [name for name in list(state_fiscal['NAME']) if name not in list(state_grads['District Name'])]
B.sort()
B

['CENT VA TRAIN CT',
 'CENTRAL ST HOSP',
 'COLONIAL BEACH CITY',
 'COMMONWEALTH CTR FOR CHILDREN & ADOLESCENTS',
 'DEPARTMENT OF JUVENILE JUSTICE',
 'EASTERN ST HOSP',
 'KING GEO COUNTY',
 'KINGS DAUGHTERS',
 'MCV/VA TREATMENT CTR',
 'MEDICAL COLLEGE OF VA',
 'N. VA. TRN CT',
 'S.EAST VA TRN CT',
 'S.SIDE VA TRN CT',
 'S.WEST VA TRN CT',
 'SW VA MENTAL HEALTH INSTITUTE',
 'UNIVERSITY OF VA',
 'VA BEACH CITY',
 'VSDB-STAUNTON',
 'WEST POINT CITY',
 'WESTERN ST HOSP',
 'WILLIAMSBURG-JAMES CITY',
 'WILSON WORKFORCE AND REHAB']

Make any additional matches I can find.

In [41]:
state_fiscal_rename = {
    'COLONIAL BEACH CITY' : 'COLONIAL BEACH',
    'KING GEO COUNTY' : 'KING GEORGE COUNTY',
    'VA BEACH CITY' : 'VIRGINIA BEACH CITY',
    'WEST POINT CITY' : 'WEST POINT',
    'WILLIAMSBURG-JAMES CITY' : 'WILLIAMSBURG-JAMES CITY COUNTY'
}

In [42]:
state_fiscal = state_fiscal.replace(state_fiscal_rename)

Merge federal and state data, keeping only matches between the two.

In [23]:
state_grads_merged = pd.merge(state_fiscal, state_grads, how='inner', left_on='NAME', right_on='District Name')

Save cleaned data.

In [24]:
state_grads_merged.to_csv('../../data/state_data_merged/' + abbr + '.csv', index=False)